<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Test</title>

<meta name="">
<meta name="description" content="">
<meta name="keywords" content="">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<script	src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="/static/css/css.css" rel="stylesheet" type="text/css"/>

<script src="/static/js/main.js"></script>

</head>

<body>
<div id="page">

<div id="header">
<div id="header-logo"><h1>Space Test</h1></div>
</div>
    
<div id="column">
	<ul id="col-menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/jedilist">Список джедаев</a></li>
        <li><a href="/candidatelist">Список кандидатов</a></li>
        <li><a href="/newcandidate">Новый кандидат</a></li>
    </ul>
</div><!--end column-->
    
<div id="r-column">
<h4>Column</h4>
Fusce vel ullamcorper est. Maecenas tincidunt gravida dui a bibendum. Cras mollis dui id sem vestibulum scelerisque. Integer eu egestas orci, nec maximus lacus. 
<h4>Column</h4>
Morbi consequat nec purus vitae semper. Etiam dictum accumsan pellentesque. Pellentesque odio velit, varius in interdum vel, rutrum vel massa. Proin faucibus leo non ante sodales posuere. Proin quis tristique turpis, nec venenatis nibh. Praesent sit amet justo nunc. 

</div><!--end r-column-->    
    
<div id="content">
{% block content %}
{% endblock %}
</div><!--end content-->

<div id="footer" colspan="2">
Cras tellus nisl, bibendum non bibendum id, tristique laoreet nulla. Pellentesque nec magna nulla. Quisque eu molestie sapien, non ultricies sapien. Phasellus suscipit nisi at nisl accumsan, quis aliquet elit maximus. Suspendisse a arcu non odio ullamcorper luctus. 
</div><!--end footer-->

</div><!--end page-->

</body>

</html>

